.tag {
  border-radius: 100px;
  background-color: #666666;
}

.text {
  color: #FFF;
  margin: 0;
}

.tag--small {
  padding: 10px 20px;
  margin-top: 4px;
}

.tag--medium {
  padding: 4px 8px;
  font-weight: 500;
  font-size: 14px;
}

.tag--large {
  padding: 6px 12px;
  font-weight: 700;
}

.tag--normal {
  background-color: #625f46;
}

.tag--fighting {
  background-color: #C12239;
}

.tag--flying {
  background-color: #6c41ed;
}

.tag--ground {
  background-color: #876600;
}

.tag--poison {
  background-color: #A43E9E;
}

.tag--rock {
  background-color: #866e00;
}

.tag--bug {
  background-color: #657100;
}

.tag--ghost {
  background-color: #70559B;
}

.tag--steel {
  background-color: #6b6c79;
}

.tag--fire {
  background-color: #c44c01;
}

.tag--water {
  background-color: #004ad3;
}

.tag--grass {
  background-color: #267100;
}

.tag--electric {
  background-color: #F9CF30;
}

.tag--psychic {
  background-color: #FB5584;
}

.tag--ice {
  background-color: #007183;
}

.tag--dragon {
  background-color: #7037FF;
}

.tag--dark {
  background-color: #75574C;
}

.tag--fairy {
  background-color: #9a3a4d;
}
