.tag {
  border-radius: 100px;
  background-color: #666666;
}

.text {
  color: #FFF;
  margin: 0;
}

.tag--small {
  padding: 10px 20px;
  margin-top: 4px;
}

.tag--medium {
  padding: 4px 8px;
  font-weight: 500;
  font-size: 14px;
}

.tag--large {
  padding: 6px 12px;
  font-weight: 700;
}

.tag--normal {
  background-color: var(--normal-type);
}

.tag--fighting {
  background-color: var(--fighting-type);
}

.tag--flying {
  background-color: var(--flying-type);
}

.tag--ground {
  background-color: var(--ground-type);
}

.tag--poison {
  background-color: var(--poison-type);
}

.tag--rock {
  background-color: var(--rock-type);
}

.tag--bug {
  background-color: var(--bug-type);
}

.tag--ghost {
  background-color: var(--ghost-type);
}

.tag--steel {
  background-color: var(--steel-type);
}

.tag--fire {
  background-color: var(--fire-type);
}

.tag--water {
  background-color: var(--water-type);
}

.tag--grass {
  background-color: var(--grass-type);
}

.tag--electric {
  background-color: var(--electric-type);
}

.tag--psychic {
  background-color: var(--psychic-type);
}

.tag--ice {
  background-color: var(--ice-type);
}

.tag--dragon {
  background-color: var(--dragon-type);
}

.tag--dark {
  background-color: var(--dark-type);
}

.tag--fairy {
  background-color: var(--fairy-type);
}
